
@{
    Layout = null;
}
@*AngularJS modulelü yani View Model AngularJS uygulaması altında aşağıda görüldüğü gibi “<script></script>” tagları arasında tanımlanır.
    “ng-app” directive’i application’ı temsil ederken, “ng-controller” directive’i controller’ı temsil eder. “ng-app”‘i bir çeşit namespace gibi düşünebiliriz.
    AngularJS controller’ı altında AngularJS uygulaması çalışır.
    “$scope” root yapısındaki en üst katmandır. Tüm tanımlamalar “$scope”‘dan sonra yapılır.*@
<!DOCTYPE html>

<html>
<head>
    <script src="~/Scripts/angular.min.js"></script>
    <meta name="viewport" content="width=device-width" />
    <title>Ctrl</title>
    <script>
        var app = angular.module('myApp', []);
        app.controller('myCtrl', function ($scope) {
            $scope.Name = "Furkan Kılıç";
            $scope.Email = "fklc61@gmail.com";
            $scope.Address = "Istnabul";

        });
    </script>
</head>
<body>
    <form id="form1" runat="server">
        <br />
        <div ng-app="myApp" ng-controller="myCtrl">
            İsim==>:<input type="text" ng-model="Name" />
            <br />
            Email==>:<input type="text" ng-model="Email" />
            <br />
            Address==>:<input type="text" ng-model="Address" />
            <br />
            <b>Müşteri Bilgileri :</b> {{Name +""+Email+""+Address}}
        </div>
    </form>
</body>
</html>
